*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

#top-bar{
    display:flex;
    justify-content: space-around;
    box-shadow: 2px 4px 2px  rgb(17 16 16/50%);
    padding: 15px 0;
    margin-top: -4%;
    min-height: 10vh;
    z-index: 5;
    position: fixed;
    background-color: #fff;
    width: 100%;
    border-width: 0ch;
}


@media  screen and (max-width: 400px) {

    #top-bar {
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
        margin-top: 0px;
    }
    .nav-links li a {
        margin: 10px;
    }
}


.logo a{
    text-decoration: none;
    color: #000;
}
.logo a h4{
    font-size: 30px;
    font-weight: 100;
    cursor: pointer;
    margin-top: 0px;
}
.logo a h4 span {
    color: #009688;
    letter-spacing: 1px;
    font-weight: 500;
}
.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 30%;
    padding-top: 8px;
}
.nav-links li a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(27,25,25);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}

.nav-links li a:hover {
    color: #009688;
}

.input {
    height: 20px;
    width: 15%;
    margin-top: 10px;
}
.icons {
    display: flex;
    color: rgb(27,25,25);
}
.icons i {
    padding-top: 8px;
    font-size: 22px;
    cursor: pointer;
    margin-right: 50px;
}
.icons .cart {
    position: relative;
}
.icons .cart a {
    color: rgb(27,25,25);
}
.icons .cart a span {
    color: #fff;
    background-color: #009688;
    border-radius: 50%;
    font-size: 14px;
    padding: 5px 8px;
    position: absolute;
    top: 0;
}

/* Section style */

#cart {
    margin: 4% 6%;
}
#cart h1 {
    font-weight: 200;
    font-size: 35px;
    margin-top: 20px;
    letter-spacing: -2px;
}
.cart-container {
    display: flex;
    flex-wrap: wrap;
}
.left-side {
    width: 52%;
    margin-top: 60px;
}
.left-side p {
    color: rgb(27,25,25);
    letter-spacing: 1px;
    font-size: 20px;
}
.item {
    display: flex;
    width: 600px;
    margin-top: 25px;
    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgb(0 0 0 / 40%);
}
.item img {
    width: 80px;
    height: 100px;
    border-radius: 4px;
}
.item .detail {
    padding-left: 15px;
}
.item .detail p {
    font-size: 16px;
    margin-top: 8px;
}

.right-side {
    width: 45%;
    margin-top: 60px;
}
.total-amount {
    width: 450px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgb(0 0 0 / 40%);
}
.total-amount h2 {
    letter-spacing: 2px;
    font-weight: 200;
}
.total-amount p {
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 200;
}
.total-amount p span {
    font-weight: bold;
    font-size: 20px;
}
.total-amount button {
    font-size: 16px;
    margin-top: 50px;
    font-weight: 300;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 2px;
    background-color: #009688;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
}

footer {
    background-color: black;
    height: 200px;
    padding: 30px;
    width: 100%;
    margin-top: 10%;
    margin-bottom: -4px;
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer ul li {
    text-decoration: none;
    color: #b8b8b8;
    font-size: 18px;
    list-style: none;
}

footer ul li :hover {
    color: #009688;
}

footer ul li a {
    text-decoration: none; 
    color: #b8b8b8;
    font-size: 18px;
    margin: 5px 5px;
}
footer ul li h3 {
    text-decoration: none;
    color: #dcdcdc;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.projectLogo{
    height: 80px;
    margin-top: 70px;
}

@media  screen and (max-width: 600px) {
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: auto;
    }

    footer ul {
        width: 50%;
        margin-bottom: 50px;
    }
}